*, ::before, ::after { box-sizing: border-box; padding: 0; margin: 0; }
.img { width: 110px; height: 110px; border-radius: 50%;  object-fit: contain; }

html {
    background: url("images/bg.jpg");
    background-position: bottom center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Fira Mono', monospace;
}
h1 {
    color: #fff;
    font-size: 40px;
    -webkit-text-stroke-width: 1px;
    font-family: 'Libre Baskerville', serif;
    -webkit-text-stroke-color: black;
}

/* ---- CONTAINER ---- */
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.container-box {
    background:#fff;
    padding: 30px 10px;
    border-radius: 8px;
    box-shadow: -1px 0px 35px -3px rgba(0,0,0,0.75);
    display: flex;
    margin: 30px;
}


/* ---- INFO ---- */
.app-name {
    margin-top: 15px;
}
.app-date {
    color: rgb(99, 168, 214);
    margin-bottom: 20px;
}


/* ---- BUTTON ---- */
button {
    font-size: 30px;
    background: white;
    border: navajowhite;
    cursor: pointer;
    margin: 20px;
}

.arrow-left,
.arrow-right {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 820px){
    .container {
        width: 70%;
    }
}
@media screen and (max-width: 670px){
    .container {
        width: 80%;
    }
}

@media screen and (max-width: 480px){
    .container-box {
        margin: 20px 5px;
    }

    h1 {
        margin-top: 230px;
    }

    .left,
    .right {
        font-size: 20px;
    }
}
